<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YTLytics</title>
</head>
<style>
    html, body {
        margin: 0;
        padding: 0;
    }

    *, ::before, ::after {
        font-family: sans-serif;
        box-sizing: border-box;
    }
    #page__main{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
        margin-top: 20px;
        /* height: 100vh; */
    }

    #page__main > header{
        font-size: xx-large;
        font-weight: bolder;
    }

    input[type=submit]{
        cursor: pointer;
        width: 80px;

    }

    input[type=text]{
        width: 45vw;
    }

    #form {
        display: flex;
        column-gap: 20px;
    }

    .hidden {
        display: none !important;
    }

    .query-result{

    }
    .query-result-title{
        font-size: 20px;
        font-weight: bolder;
        cursor: pointer;
        text-decoration: underline;
    }
    .query-result-sentiment{
        font-family: serif;
    }
    .video-result {
            display: flex;
            justify-content: space-between;
            border-radius: 20px;
            width: 100%;
            margin-bottom: 20px;
            margin-top: 20px;
            font-size: 14px;
    }
        .video-result-left {
            flex: 1;
        }
        .video-result-right {
            flex: 0 0 25%;
        }
        .video-result-right > a > img {
            width: 100%;
            object-fit: contain;
        }
    .video-result-title{
        font-size: 18px;
    }

    .separator{
        width: 100%;
        height: 2px;
        background-color: black;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .page{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
        margin-top: 20px;
    }

    .page > header {
        font-size: 30px;
        font-weight: bolder;

    }

    .page > #back_to_main{
        width: 50px;
        margin: 20px;
        height: 20px;
        cursor: pointer;
    }

    #statistics__title{
        font-size: 18px;
        font-weight: bold;
    }

    .count_block {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>
<body>
<div id="page__main">
    <header>YTLytics</header>
    <form action="" id="form" onsubmit="return onSubmit(event)">
        <input type="text" name="query" id="form__query" placeholder="Search">
        <input type="submit" id="form__submit" value="Search">
    </form>
    <div id="results"></div>
</div>
<div id="page__videoDetails" class="page hidden">
    <button id="back_to_main" onclick="return onBackClick()">Back</button>
    <div class="container" id="video_container">

</div>
</div>
<div id="page__tags" class="page hidden">
    <button id="back_to_main" onclick="return onBackClick()">Back</button>
    <div class="container" id="tags_container">

    </div>
</div>
<div id="page__statistics" class="page hidden">
    <button id="back_to_main" onclick="return onBackClick()">Back</button>
    <header>Statistics</header>
    <div class="container" id="statistics_container">

    </div>
</div>
<div id="page__channel" class="page hidden">
    <button id="back_to_main" onclick="return onBackClick()">Back</button>
    <div class="container" id="channel_container">
    </div>
</div>
</body>
<script>

    let searches = [];
    let socket = new WebSocket("ws://localhost:9000/ws");

    let pages = {
        "main": document.getElementById("page__main"),
        "statistics": document.getElementById("page__statistics"),
        "videoDetails": document.getElementById("page__videoDetails"),
        "tags": document.getElementById("page__tags"),
        "channel": document.getElementById("page__channel")
    }

    socket.onopen = function(event) {
        console.log("Connection established.");
    };

    socket.onmessage = function(event) {
        console.log(event.data);
        let json = JSON.parse(event.data);
        console.log("Message Received");
        if (json.type == "query"){
            handleQueryResponse(json.response);
        } else if (json.type == "statistics"){
            handleStatisticsResponse(json.response);
        } else if (json.type == "channel"){
            handleChannelResponse(json.response);
        } else if (json.type == "videoDetails"){
            console.log("Video Details Response Received");
            handleVideoDetailsResponse(json.response);
        } else if (json.type == "tags"){
            handleTagsResponse(json.response);
        }
    };


    socket.onclose = function(event) {
        console.log("Connection closed. Code: " + event.code + " Reason: " + event.reason);
    };

    socket.onerror = function(error) {
        console.log("Error occurred: " + error.message);
    };

    function getQueryElement(query){
        return document.getElementById(`query-${query}`)
    }

    function handleQueryResponse(response) {
        console.log("Query Response Received for: " + response.query);
        let query = new Query(response);
        let resultsDiv = document.getElementById("results");
        for (let search of searches) {
            if (search.query === response.query) {
                console.log("Query already exists: " + search.query);
                let el = document.getElementById(`query-${search.query}`);
                let newNode = query.getNode();
                if (el) {
                    el.parentNode.replaceChild(newNode, el);
                }
                return;
            }
        }
        if (searches.length === 10) {
            let el = document.getElementById(`query-${searches[0].query}`);
            if (el) {
                el.remove();
            }
            searches.shift();
        }
        searches.push(query);
        resultsDiv.prepend(query.getNode());
    }


    function handleChannelResponse(response){
        document.getElementById("channel_container").innerHTML = response;
        showPage("channel");
    }

    function handleVideoDetailsResponse(response){
        console.log(response);
        console.log(response.snippet.title)

        // Create a new Video object
        let video = new VideoDetail(
                response.snippet.title,
                "https://www.youtube.com/watch?v=" + response.id,
                response.snippet.channelTitle,
                response.snippet.channelUrl,
                response.snippet.description,
                response.snippet.tags,
                response.snippet.thumbnails.default.url
        );

        // Get the video container and clear its content
        let videoContainer = document.getElementById("video_container");
        videoContainer.innerHTML = "";

        // Append the video node to the container
        videoContainer.appendChild(video.getNode());
        showPage("videoDetails");
    }

    function handleTagsResponse(response){
        showPage("tags");
    }

    function handleStatisticsResponse(response){
        let node = new Statistics(response.query, response.words);
        let newNode = node.getNode();
        let el = document.getElementById("statistics_container");
        el.parentNode.replaceChild(newNode, el);
        showPage("statistics");
    }

    function showPage(name){
        for (let page in pages){
            if (page != name){
                pages[page].classList.add("hidden");
            } else {
                pages[page].classList.remove("hidden");
            }
        }
    }

    function onSubmit(e) {
        e.preventDefault();
        if (socket.readyState === WebSocket.OPEN) {
            if (e.target.query.value != ""){
                console.log("Query sent for: "+ e.target.query.value);
                socket.send("QUERY:::" + e.target.query.value);
            }
        } else {
            console.log("WebSocket is not open. State: " + socket.readyState);
        }
        e.target.query.value = "";
    }

    function onChannelClick(channelURL){
        if (socket.readyState === WebSocket.OPEN) {
            socket.send("CHANNEL:::" + channelURL);
        } else {
            console.log("WebSocket is not open. State: " + socket.readyState);
        }
    }

    function onQueryStatsClick(query){
        if (socket.readyState === WebSocket.OPEN) {
            socket.send("STATS:::" + query);
        } else {
            console.log("WebSocket is not open. State: " + socket.readyState);
        }
    }

    function onVideoInfoClick(tagsURL){
        if (socket.readyState === WebSocket.OPEN) {
            socket.send("VIDEOINFO:::" + tagsURL);
        } else {
            console.log("WebSocket is not open. State: " + socket.readyState);
        }
    }

    function onTagsClick(tag){
        if (socket.readyState === WebSocket.OPEN) {
            socket.send("TAG:::" + tag);
        } else {
            console.log("WebSocket is not open. State: " + socket.readyState);
        }
    }

    function onBackClick(){
        console.log("BACK CLICKED");
        showPage("main");
    }

    class Video {
        constructor(title, url, channelTitle, channelUrl, description, tagsUrl, thumbnailUrl) {
            this.title = title;
            this.url = url;
            this.channelTitle = channelTitle;
            this.channelUrl = channelUrl;
            this.description = description;
            this.tagsUrl = tagsUrl;
            this.thumbnailUrl = thumbnailUrl;
        }

        getNode() {
            // Create the video result container
            const videoNode = document.createElement('div');
            videoNode.classList.add('video-result');
            videoNode.id = `video-${this.title}`;

            // Create left part of the video
            const leftNode = document.createElement('div');
            leftNode.classList.add('video-result-left');

            // Create the title
            const titleNode = document.createElement('p');
            titleNode.classList.add('video-result-left-title');
            const titleLink = document.createElement('a');
            titleLink.href = this.url;
            titleLink.classList.add(`video-result-title`);
            titleLink.textContent = `Video: ${this.title}`;
            titleNode.appendChild(titleLink);
            leftNode.appendChild(titleNode);

            // Create the channel link
            const channelNode = document.createElement('p');
            channelNode.classList.add('video-result-left-channel');
            const channelLink = document.createElement('a');
            channelLink.href = "#";
            channelLink.textContent = `Channel: ${this.channelTitle}`;
            channelLink.onclick = () => onChannelClick(this.channelUrl);
            channelNode.appendChild(channelLink);
            leftNode.appendChild(channelNode);

            // Create the tags link
            const tagsNode = document.createElement('p');
            tagsNode.classList.add('video-result-left-tags');
            const tagsLink = document.createElement('a');
            tagsLink.href = "#";
            tagsLink.textContent = 'Tags';
            tagsLink.onclick = () => onVideoInfoClick(this.tagsUrl);
            tagsNode.appendChild(tagsLink);
            leftNode.appendChild(tagsNode);

            // Create the description
            const descriptionNode = document.createElement('p');
            descriptionNode.classList.add('video-result-left-description');
            descriptionNode.textContent = this.description;
            leftNode.appendChild(descriptionNode);

            // Append the left node to the video node
            videoNode.appendChild(leftNode);

            // Create the right part (thumbnail)
            const rightNode = document.createElement('div');
            rightNode.classList.add('video-result-right');
            const thumbnailLink = document.createElement('a');
            thumbnailLink.href = this.url;
            const thumbnailImg = document.createElement('img');
            thumbnailImg.src = this.thumbnailUrl;
            thumbnailLink.appendChild(thumbnailImg);
            rightNode.appendChild(thumbnailLink);

            // Append the right node to the video node
            videoNode.appendChild(rightNode);

            return videoNode;
        }
    }

    class VideoDetail {
        constructor(title, url, channelTitle, channelUrl, description, tags, thumbnailUrl) {
            this.title = title;
            this.url = url;
            this.channelTitle = channelTitle;
            this.channelUrl = channelUrl;
            this.description = description;
            this.tags = tags;
            this.thumbnailUrl = thumbnailUrl;
        }

        getNode() {
            // Create the video result container
            const videoNode = document.createElement('div');
            videoNode.classList.add('video-result');
            videoNode.id = `video-${this.title}`;

            // Create left part of the video
            const leftNode = document.createElement('div');
            leftNode.classList.add('video-result-left');

            // Create the title
            const titleNode = document.createElement('p');
            titleNode.classList.add('video-result-left-title');
            const titleLink = document.createElement('a');
            titleLink.href = this.url;
            titleLink.classList.add(`video-result-title`);
            titleLink.textContent = `Video: ${this.title}`;
            titleNode.appendChild(titleLink);
            leftNode.appendChild(titleNode);

            // Create the channel link
            const channelNode = document.createElement('p');
            channelNode.classList.add('video-result-left-channel');
            const channelLink = document.createElement('a');
            channelLink.href = "#";
            channelLink.textContent = `Channel: ${this.channelTitle}`;
            channelLink.onclick = () => onChannelClick(this.channelUrl);
            channelNode.appendChild(channelLink);
            leftNode.appendChild(channelNode);


            // Create video tags each with a link
            if (this.tags != null) {
                const tagsNode = document.createElement('p');
                tagsNode.classList.add('video-result-left-tags')

                const tagsDescription = document.createTextNode('Tags: ');
                tagsNode.appendChild(tagsDescription);

                for (let tag of this.tags) {
                    const tagLink = document.createElement('a');
                    tagLink.href = "#";
                    tagLink.textContent = tag;
                    tagLink.onclick = () => onTagsClick(tag);
                    tagsNode.appendChild(tagLink);
                    tagsNode.appendChild(document.createTextNode(' '));
                }
                leftNode.appendChild(tagsNode);
            }

            // Create the description
            const descriptionNode = document.createElement('p');
            descriptionNode.classList.add('video-result-left-description');
            descriptionNode.textContent = this.description;
            leftNode.appendChild(descriptionNode);

            // Append the left node to the video node
            videoNode.appendChild(leftNode);

            // Create the right part (thumbnail)
            const rightNode = document.createElement('div');
            rightNode.classList.add('video-result-right');
            const thumbnailLink = document.createElement('a');
            thumbnailLink.href = this.url;
            const thumbnailImg = document.createElement('img');
            thumbnailImg.src = this.thumbnailUrl;
            thumbnailLink.appendChild(thumbnailImg);
            rightNode.appendChild(thumbnailLink);

            // Append the right node to the video node
            videoNode.appendChild(rightNode);

            return videoNode;
        }
    }

    class Query {
        constructor(response) {
            this.query = response.query;
            this.sentiment = response.sentiment;
            this.videos = [];

            // Iterate over response.results correctly using 'for...of' if it's an array
            for (let result of response.results) {
                this.videos.push(new Video(
                    result["videoTitle"],
                    result["videoUrl"],
                    result["channelTitle"],
                    result["channelUrl"],
                    result["description"],
                    result["tagsUrl"],
                    result["thumbnailUrl"]
                ));
            }
        }

        getNode() {
            // Create the container div for the query result
            const queryNode = document.createElement('div');
            queryNode.classList.add('query-result');
            queryNode.id = `query-${this.query}`;

            // Create the title and sentiment div
            const titleNode = document.createElement('div');
            titleNode.classList.add('query-result-title');
            titleNode.textContent = this.query;
            titleNode.onclick = () => {onQueryStatsClick(this.query)};

            // Create the sentiment span
            const sentimentNode = document.createElement('span');
            sentimentNode.classList.add('query-result-sentiment');
            sentimentNode.textContent = ` (${this.sentiment}) `;

            // Append the sentiment span to the title div
            titleNode.appendChild(sentimentNode);
            queryNode.appendChild(titleNode);

            // Iterate over the 'videos' array and append each video node
            for (let video of this.videos) {
                queryNode.appendChild(video.getNode());  // Add each video node to the query node
            }
            const separator = document.createElement('div');
            separator.classList.add("separator");
            queryNode.appendChild(separator);
            return queryNode;  // Return the complete query node with all videos
        }
    }

    class Statistics {
        constructor(query, counts) {
            this.query = query;
            this.counts = counts;
        }

        getNode() {
            let node = document.createElement("div");
            node.setAttribute("id", "statistics_container");
            let title = document.createElement("div");
            title.setAttribute("id", "statistics__title");
            title.textContent = "Query: " + this.query;
            node.appendChild(title);
            for (let w of this.counts) {
                let countBlock = document.createElement("div");
                countBlock.classList.add("count_block");
                countBlock.textContent = w.word + ":" + w.count;
                // let wordElement = document.createElement("div");
                // wordElement.setAttribute("id", "count_block_word");
                // wordElement.textContent = w.word + ":";

                // let countElement = document.createElement("div");
                // countElement.setAttribute("id", "count_block_count");
                // countElement.textContent = w.count;
                // countBlock.appendChild(wordElement);
                // countBlock.appendChild(countElement);
                node.appendChild(countBlock);
            }

            return node;
        }
    }




</script>
</html>