@* app/views/videoList.scala.html *@
@(searchHistory: SearchHistory)

<div class="result">
    <h2>Results for
        <a href="@routes.HomeController.showStatistics(searchHistory.getQuery)">
            "@searchHistory.getQuery"
        </a> <span>@searchHistory.getSentimentEmoji</span>
    </h2>

    @for((video, index) <- searchHistory.getResults.zipWithIndex) {
        @if(index > 0 && index % 10 == 0) {
            <div class="separator"></div>
        }
        <div class="video-wrapper">
            <div class="video">
                <div class="video-title">
                    <a href="@video.getVideoUrl" target="_blank">@video.getVideoTitle</a>
                </div>
                <div class="channel-title">
                    Channel: <a href="@video.getChannelUrl" target="_blank">@video.getChannelTitle</a>
                </div>
                <div>
                @if(video.getDescription.isEmpty) { ---No Description--- } else {
                    Description: @video.getDescription.substring(0, Math.min(video.getDescription.length, 100))
                }
                </div>
                <div class="tags">
                    <a href="@video.getTagsUrl" target="_blank">Tags</a>
                </div>
            </div>
            <img src="@video.getThumbnailUrl" alt="Thumbnail" class="thumbnail">
        </div>
    }
    <div class="separator"></div>
</div>