@import com.google.api.services.youtube.model.Video
@(video: Video)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>@if(video.getSnippet != null) { @video.getSnippet.getTitle }</title>
    </head>
    <body>
        <h1>
        @if(video.getId != null && video.getSnippet != null) {
            <a href="@{"https://www.youtube.com/watch?v=" + video.getId}" target="_blank">@video.getSnippet.getTitle</a>
        }
        </h1>
        <p>
        @if(video.getSnippet != null && video.getSnippet.getChannelId != null) {
            Channel: <a href="@routes.HomeController.searchChannel(video.getSnippet.getChannelId)" target="_blank">@video.getSnippet.getChannelTitle</a>
        }
        </p>
        <p>
        @if(video.getSnippet != null) {
            Description: @video.getSnippet.getDescription
        }
        </p>
        <p>Tags:
            @if(video.getSnippet != null && video.getSnippet.getTags != null) {
                @for(tag <- video.getSnippet.getTags.asScala) {
                    <a href="@routes.HomeController.searchByTag(tag)" target="_blank">@tag</a>
                }
            }
        </p>
    </body>
</html>